@import '../../global.scss';

.c {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-info {
    @include resol(mobile) {
      display: flex;
      flex-direction: column;
    }
  }
  &-bg {
    width: 2rem;
    height: 100%;
    background-color: $textColor;
    position: absolute;
  }
  &-wrapper {
    padding: 3rem 8rem;
    height: 100vh;
    display: flex;
    @include resol(desktop) {
      padding: 2rem 8rem;
    }
    @include resol(tablet) {
      height: auto;
      text-align: center;
      margin-top: 1rem;
      padding: 0 4rem;
    }
    @include resol(mobile) {
      flex-direction: column;
      padding: 0 3rem;
    }
  }
  &-left {
    flex: 1;
    @include resol(mobile) {
      margin: 3rem 0;
      margin-bottom: 4rem;
    }
    @include resol(mobileSmall) {
      margin: 0;
    }
  }
  &-right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include resol(mobile) {
      align-items: inherit;
    }
  }
  &-title {
    text-align: center;
    font-size: 6rem;
    margin: 0;
    margin-top: 2rem;
    @include resol(tablet) {
      padding-left: 1rem;
      font-size: 3rem;
      margin: 1rem;
      width: auto;
    }
    @include resol(mobile) {
      padding-left: 4rem;
      padding-left: 2rem;
      margin: 0;
      margin-top: 2rem;
    }
  }
  &-desc {
    font-size: 2rem;
    font-weight: 200;
    @include resol(desktop) {
      margin: 0;
    }
    @include resol(mobile) {
      display: none;
    }
  }
  &-info-item {
    @include resol(mobile) {
      margin: 2rem 0;
      width: 100%;
    }
  }
  // @include resol(mobile) {
  //   justify-content: space-around;
  // }
}
