@import '../../global.scss';

.p {
  width: 30%;
  height: 35vh;
  margin: 1rem;
  border: 0.2rem solid $secondColor;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  @include resol(tablet) {
    width: 40%;
    height: 24vh;
  }
  @include resol(mobileSmall) {
    width: 40%;
    height: 20vh;
  }
  @include resol(mobile) {
    width: 40%;
    height: 22vh;
    justify-content: inherit;
  }
  &-browser {
    height: 2rem;
    background-color: $thirdColor;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
  }
  &-circle {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    margin: 0.3rem;
    background-color: white;
  }
  &-img {
    width: 100%;
    transition: all 5s ease;
    &:nth-child(2) {
      height: 100%;
    }
  }
  &:hover &-img {
    transform: translateY(-50%);
  }
}
