@import '../../global.scss';
// .footer {
//   background-color: aqua;
//   overflow: hidden;
//   height: 10vh;
//   position: relative;
//   @include flex;
//   @include resol(mobile) {
//     height: 5vh;
//   }
//   .content {
//     @include flex;
//     p {
//       font-size: 1.1rem;
//       letter-spacing: 0.1rem;
//       text-align: center;
//       text-transform: uppercase;
//     }
//     .contact {
//       color: #303236;
//       font-style: normal;
//       font-size: 1.4rem;
//       font-weight: 600;
//       letter-spacing: 0.1rem;
//       margin-bottom: 1rem;
//       text-align: center;
//       text-transform: uppercase;
//     }
//     .socials {
//       display: flex;
//       align-items: center;
//       justify-content: space-evenly;
//       text-align: center;
//       list-style: none;
//       margin: 0;
//       li {
//         margin-right: 0.5rem;
//         font-size: 2rem;
//         cursor: pointer;
//         color: #6a6d75;
//         &:hover {
//           color: #0f346c;
//         }
//         a {
//           @include flex;
//           height: 2.5rem;
//           border: 0.1rem solid black;
//           border-radius: 50%;
//           background-color: antiquewhite;
//           & button {
//             display: flex;
//             padding: 0;
//             border-radius: 50%;
//           }
//         }
//         .icon {
//           color: black;
//           font-size: 1.7rem;
//           width: 2.5rem;
//         }
//       }
//     }
//   }
//   .buttom {
//     height: auto;
//     line-height: 3.2rem;
//     padding: 1rem 0;
//     margin-top: 3.2rem;
//     color: #fff;
//     background-color: #0f346c;
//   }
// }

// .deskt {
//   display: block;
//   @include resol(mobile) {
//     display: none;
//   }
// }
// .mob {
//   display: none;
//   @include resol(mobile) {
//     display: block;
//   }
// }
.footer {
  background-color: aliceblue;
  box-shadow: inset 0 0.1rem 0 0 #eceef2;
  color: #6a6d75;
  overflow: hidden;
  display: flex;
  height: 15rem;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  @include resol(mobile) {
    height: 7rem;
  }
  .content {
    display: flex;
    justify-content: center;
    .field {
      display: flex;
      flex-direction: column;
      width: 50%;
      @include resol(mobile) {
        width: 70%;
      }
      .contact {
        margin-bottom: 1rem;
        color: #303236;
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
        text-align: center;
        text-transform: uppercase;
        @include resol(mobile) {
          margin: 0.5rem 0;
        }
      }
      .socials {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        a {
          font-size: 2rem;
          color: #6a6d75;
          &:hover {
            color: aqua;
          }
          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .bottom {
    height: auto;
    line-height: 3.2rem;
    color: #fff;
    background-color: #0f346c;
    p {
      text-align: center;
      margin: 0;
    }
  }
}
