@import '../../global.scss';

.t {
  width: 5rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 0.1rem solid #999;
  background-color: $mainColor;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: $thirdColor;
  }
  &-button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background-color: $textColor;
    position: absolute;
    cursor: pointer;
    left: 0;
    transform: translate(1, 0);
    &::after {
      transition: 0.3s;
    }
  }
  @include resol(tablet) {
    top: 10rem;
    right: 1rem;
  }
  @include resol(mobile) {
    right: 10rem;
    border: 0.3rem solid $textColorDark;
  }
  // @include resol(mobileSmall) {
  //   top: 8rem;
  // }
}
.dark {
  right: calc(100% - 5rem);
  left: inherit;
  @include resol(mobile) {
    left: auto;
  }
}
