@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$mainColor: #f6f5f5;
$mainColorDark: #121212;
$secondColor: #d3e0ea;
$thirdColor: #1687a7;
$textColor: #276678;
$textColorDark: #3e95ad;

// :root {
//   $mainColor: #f6f5f5;
//   $secondColor: #d3e0ea;
//   $thirdColor: #1687a7;
//   $textColor: #276678;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     $mainColor: #121212;
//   }
// }

$widthSmall: 375px;
$widthMobile: 480px;
$widthTablet: 768px;
$widthBig: 1200px;

@mixin resol($breakpoint) {
  @if $breakpoint == mobileSmall {
    @media screen and (max-width: #{$widthSmall}) {
      @content;
    }
  } //375px
  @if $breakpoint == mobile {
    @media screen and (max-width: #{$widthMobile}) {
      @content;
    } //480px
  }
  @if $breakpoint == tablet {
    @media screen and (max-width: #{$widthTablet}) {
      @content;
    } //768px
  }
  @if $breakpoint == desktop {
    @media screen and (max-width: #{$widthBig}) {
      @content;
    } //1200px
  }
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 10px;
}

body {
  background-color: $mainColor;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  overflow-x: hidden;
}
body [data-theme='dark'] {
  $mainColor: #121212;
  $secondColor: #d3e0ea;
  $thirdColor: #1687a7;
  $textColor: #276678;
  background-color: $mainColor;
}
h1 {
  font-size: 5rem;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
}

@keyframes appearAnim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromLeftAnim {
  0% {
    opacity: 0;
    transform: translateX(-40rem);
  }
  25% {
    opacity: 0.2;
    transform: translateX(-30rem);
  }

  50% {
    opacity: 0.5;
    transform: translateX(-20rem);
  }
  75% {
    opacity: 0.7;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromRightAnim {
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }
  25% {
    opacity: 0;
    transform: translateX(30rem);
  }

  50% {
    opacity: 0.5;
    transform: translateX(20rem);
  }
  75% {
    opacity: 0.7;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromBottomAnim {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  25% {
    opacity: 0;
    transform: translateY(50rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(25rem);
  }
  75% {
    opacity: 0.7;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// @mixin resol ($breakpoint) {

//   @if $breakpoint == phone{
//       @media (max-width:37.5em) {@content }; //600px
//   }
//   @if $breakpoint == tab-port{
//      @media (max-width:56.25em) {@content };  //900px
//   }
//   @if $breakpoint == tab-land{
//      @media (max-width:75em) {@content };   //1200px
//   }
//   @if $breakpoint == big-dektop{
//      @media (min-width:112.5em) {@content };   //1800px
//   }
// }

// body{
//    box-sizing: border-box;
//    padding:2rem;

//    @include respond(tab-port){
//        padding: 0;
//    }
// }
