@import '../../global.scss';

.form {
  margin-top: 2rem;
  @include resol(desktop) {
    margin: 0;
  }
  @include resol(mobile) {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  @include resol(mobileSmall) {
    margin: 0;
  }
  & label {
    border-width: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
  }
  & input {
    width: 50%;
    height: 5rem;
    border: none;
    border-bottom: 0.1rem solid $textColor;
    margin: 2rem 0;
    font-size: 1.7rem;
    padding-left: 1rem;
    @include resol(desktop) {
      margin: 1.5rem 0;
    }
    @include resol(tablet) {
      width: 100%;
      margin: 1rem 0;
    }
    @include resol(mobile) {
      font-size: 1.3rem;
      width: 40%;
      margin: 1rem;
      margin-left: 0;
      height: 3.5rem;
    }
    @include resol(mobileSmall) {
      width: 50%;
    }
    &::placeholder {
      color: $textColor;
      @include resol(mobile) {
        font-size: 1.2rem;
      }
    }
  }
  & textarea {
    border: none;
    border-bottom: 0.1rem solid $textColor;
    width: 90%;
    font-size: 1.7rem;
    margin: 2rem 0;
    padding-left: 1rem;
    font-family: inherit;
    @include resol(tablet) {
      width: 100%;
    }
    @include resol(mobile) {
      height: 5rem;
    }
    @include resol(mobileSmall) {
      width: 70%;
      margin: 1rem 0;
      height: 4rem;
    }
    &::placeholder {
      color: $textColor;
      @include resol(mobile) {
        font-size: 1.2rem;
      }
    }
  }
  & button {
    font-size: 1.7rem;
    border-radius: 5%;
    border: none;
    padding: 1.5rem;
    color: $mainColor;
    background-color: $textColor;
    font-weight: 500;
    cursor: pointer;
    @include resol(tablet) {
      font-size: 1.3rem;
    }
    @include resol(mobile) {
      font-size: 1.3rem;
      margin-top: 1rem;
      padding: 1rem;
      margin: 0;
    }
  }
  .invalid {
    border: 0.1rem solid red;
    background-color: #f6dbfc;
    -webkit-animation: shake 0.5s linear;
    animation: shake 0.5s linear;
    &:focus {
      border: 0.1rem solid red;
    }
  }
}
.form-dark {
  & input {
    background-color: #333;
    &::placeholder {
      color: white;
    }
  }
  & textarea {
    background-color: #333;
    &::placeholder {
      color: white;
    }
  }
}

@keyframes shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
