@import '../../global.scss';

.form {
  margin-top: 2rem;
  @include resol(desktop) {
    margin: 0;
  }
  @include resol(mobile) {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  @include resol(mobileSmall) {
    margin: 0;
  }
  & input {
    width: 50%;
    height: 5rem;
    border: none;
    border-bottom: 0.1rem solid $textColor;
    margin: 2rem 0;
    font-size: 1.7rem;
    padding-left: 1rem;
    @include resol(desktop) {
      margin: 1.5rem 0;
    }
    @include resol(tablet) {
      width: 100%;
      margin: 1rem 0;
    }
    @include resol(mobile) {
      width: 40%;
      height: 4rem;
      margin: 1rem;
      margin-left: 0;
      height: 3.5rem;
    }
    @include resol(mobileSmall) {
      width: 50%;
    }
    &::placeholder {
      color: $textColor;
      @include resol(mobile) {
        font-size: 1.2rem;
      }
    }
  }
  & textarea {
    border: 0.1rem solid $textColor;
    width: 90%;
    font-size: 1.7rem;
    margin: 2rem 0;
    padding-left: 1rem;
    font-family: inherit;
    @include resol(tablet) {
      width: 100%;
    }
    @include resol(mobile) {
      height: 5rem;
    }
    @include resol(mobileSmall) {
      width: 70%;
      margin: 1rem 0;
      height: 4rem;
    }
    &::placeholder {
      color: $textColor;
      @include resol(mobile) {
        font-size: 1.2rem;
      }
    }
  }
  & button {
    font-size: 1.7rem;
    border-radius: 5%;
    border: none;
    padding: 1.5rem;
    color: $mainColor;
    background-color: $textColor;
    font-weight: 500;
    cursor: pointer;
    @include resol(tablet) {
      font-size: 1.3rem;
    }
    @include resol(mobile) {
      font-size: 1.3rem;
      margin-top: 1rem;
      padding: 1rem;
      margin: 0;
    }
  }
}
.form-dark {
  & input {
    background-color: #333;
    &::placeholder {
      color: white;
    }
  }
  & textarea {
    background-color: #333;
    &::placeholder {
      color: white;
    }
  }
}
